manifest {
    mainScript = 'nonpareil.nf'
}

process.container = 'hadrieng/nonpareil'
docker.enabled = true

profiles {
    standard {
        executor = 'local'
    }
    planet {
        executor = 'sge'
        queue = 'all.q@planetsmasher.hgen.slu.se'
        memory = '1G'
        cpus = '12'
        time '2h'
    }
}
