manifest {
    mainScript = 'nonpareil.nf'
}

profiles {
    standard {
        executor = 'local'
        process.container = 'hadrieng/nonpareil'
        docker.enabled = true
    }
    planet {
        executor = 'sge'

        process.$adapter_trimming.clusterOptions = '-S /bin/bash'
        process.$adapter_trimming.time = '30m'
        process.$adapter_trimming.cpus = 1
        process.$adapter_trimming.memory = '1G'
        process.$adapter_trimming.module = 'scythe'

        process.$quality_trimming.clusterOptions = '-S /bin/bash'
        process.$quality_trimming.time = '30m'
        process.$quality_trimming.cpus = 1
        process.$quality_trimming.memory = '1G'
        process.$quality_trimming.module = 'sickle'

        process.$nonpareil.clusterOptions = '-S /bin/bash'
        process.$nonpareil.penv = 'smp'
        process.$nonpareil.time = '2h'
        process.$nonpareil.cpus = 12
        process.$nonpareil.memory = '1G'
        process.$nonpareil.module = 'nonpareil'

        process.$curves.clusterOptions = '-S /bin/bash'
        process.$curves.time = '30m'
        process.$curves.cpus = 1
        process.$curves.memory = '1G'
        process.$curves.module = 'nonpareil'
    }
}
