manifest {
    mainScript = 'nonpareil.nf'
}

profiles {
    standard {
        executor = 'local'
        process.container = 'hadrieng/nonpareil'
        docker.enabled = true
    }
    planet {
        executor = 'sge'
        memory = '1G'
        cpus = 12
        module = ['scythe', 'sickle', 'nonpareil']

        process.$adapter_trimming.time = '30m'
        process.$quality_trimming.time = '30m'
        process.$nonpareil.time = '2h'
        process.$curves.time = '30m'
    }
}
